<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit-no">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel='stylesheet' id='bootstrap-css'>
    <link href="https://getbootstrap.com/docs/4.0/examples/sig-in/sigin.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <title>Backend Test</title>
</head>
<body class="text-center">
        <nav>
          {% if user.is_anonymous %}
          <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
          {% else %}
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
          {% endif %}
        </nav>
      {% block content %}
      {% endblock %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/boostrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>